#pragma code_page(65001)

#include "resource.h"
#include <winresrc.h>

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG

IDI_TYPEDUCK_SETTINGS ICON "assets/TypeDuck_Transparent.ico"
IDB_TYPEDUCK_ABOUT_BANNER BITMAP "assets/About_Banner.bmp"
IDB_TYPEDUCK_CREDIT_LOGOS BITMAP "assets/Credit_Logos.bmp"

#include "TypeDuckSettingsVersion.rc"
